.App {
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vmin;
  max-height: 100vmin;
}

.Container {
  min-height: 50vmin;
  max-height: 100vmin;
  width: 100vmin;
}
