# Файлы и папки сборки
/.next/
/out/

# Игнорирование папки .env для локального окружения
/.env.local
/.env.*.local

# Игнорирование кешированных и сгенерированных файлов
/.cache/
/public/build/

# Файлы Node.js
/node_modules/
npm-debug.log*
yarn-error.log*

# Файлы операционных систем и редакторов
.DS_Store
Thumbs.db
*.swp
.idea/
*.iml

# Другие файлы